@model haku_chat.Models.UserConfigModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserConfigModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameColorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameColorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendInfoMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendInfoMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShowChatLogCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShowChatLogCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDatetime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
